section:nth-child(2){
    width: 100vw;
    height: 80vh;
    padding-right: 10vw;
    padding-left: 15vw;
    display: flex;
   justify-content: flex-start;
    flex-direction: column;
}

section:nth-child(2)>article:nth-child(1){
    width: 70vw;
    height:37vh;
    position: relative;
    top: 3vw;
    display: flex;
    flex-direction: row;
}

section:nth-child(2)>article:nth-child(2){
    width: 70vw;
    position: relative;
    top: 6vw;
}

section:nth-child(2)>article:nth-child(1)>div:nth-child(1){
    width:40vw ;
    height: 50vh;
    padding: 1vw;
}

section:nth-child(2)>article:nth-child(1)>div:nth-child(1)>div:nth-child(3){
    height: 4vh;
    width: 10vw;
    position: relative;
    top: 2.4vw;
}
#btnAbout{
    cursor: pointer;
    height: 3.5vh;
    width: 8vw;
    color: white;
    border: none;
    font-size: 1vw;
    border-radius: 0.5rem;
    background-color: #7963e0;
}
#para1{
    position: relative;
    top: 1.5vw;
    font-size: 0.9vw;
}
section:nth-child(2)>article:nth-child(1)>div:nth-child(2){
    width:30vw ;
    height: 50vh;
    padding: 1vw;
}

section:nth-child(2)>article:nth-child(1)>div:nth-child(2)>div{
    width: 25vw;
    padding: 1vw;
    top: 3vw;
    left: 4vw;
    position: relative;
}

section:nth-child(2)>article:nth-child(1)>div:nth-child(2)>div span{
    color: #7081b9;
}
section:nth-child(2)>article:nth-child(1)>div:nth-child(2)>div p{
    font-weight: bold;
}

section:nth-child(2)>article:nth-child(1)>div:nth-child(2)>div>div{
    padding: 0.5vw;
}

#outerBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
/*    center*/
}

.box{
    display: flex;
    flex-direction: row;
    padding: 0.5vw;
    width: 213px;
    height:65px;
    margin: 0.5vw;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box>div:nth-child(2){
    margin-top: 0.1vw;
}
.box>div:nth-child(1)>img{
    margin-left: 1vw;
    margin-right: 1vw;
}

.box>div:nth-child(2){
    /*padding-left: 1.2vw;*/
}

.box>div:nth-child(2)>p{
    opacity: 0.4;
    font-size: 0.8vw;
    padding-top: 0.2vw;
}
.profile{
    font-size: 0.9vw;
}